.upperDivStart {
    background-color: #FFE8D6;
    height: 45vh;
    margin: 0px;
}

.lowerDivStart {
    background-color: #A5A58D;
    height: 45vh;
    margin: 0px;
}

.startLogo {
    height: 70%;
    float: left;
}

.title {
    float: left;
    height: 50%;
    font-size: xxx-large;
    font-family: "Arial Rounded MT Bold";
}

.welcomeMessage {
    /*margin-top: auto;*/
    height: 50vh;
    padding: 3vh;
}

.nameInputBox {
    position: absolute;
    top: 45vh;
    left: 15%;
    height: 20vh;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #cb997e;
}

.nameInput {
    position: absolute;
    top: 3vh;
    right: 3vh;
    height: 14vh;
    width: 93%;
    border-radius: 100px;
    background-color: lightgray;
    font-size: larger;
    text-align: center;
}

.nameInputButton {
    position: absolute;
    top: 4vh;
    right: 4vh;
    height: 13vh;
    width: 13vh;
    border-radius: 100%;
    background-color: mediumpurple;
    font-size: xxx-large;
    text-decoration: none;
}