.Navbar {
    background-color: #cb997e;
    height: 10vh;
}

.NavbarProfile {
    float: right;
    width: 20%;
    font-size: x-large;
    text-decoration: none;
    background-color: lightyellow;
    margin-top: 2vh;
    margin-right: 5vh;
    border-style: solid;
    border-color: black;
}

.NavbarName {
    float: left;
    width: 30%;
    font-size: xx-large;
    text-decoration: none;
    font-family: "Arial Rounded MT Bold";
    margin-top: 2vh;
}

.LogOut {
    float: right;
    margin-right: 5vh;
    margin-top: 2vh;
    font-size: x-large;
    background-color: lightyellow;
}