.upperDivProfile {
    background-color: #FFE8D6;
    height: 45vh;
    margin: 0px;
}

.lowerDivProfile {
    background-color: #A5A58D;
    height: 45vh;
    margin: 0px;
}

.username {
    float: left;
    padding-left: 10vh;
    padding-top: 5vh;
}

.profileLogo {
    position: absolute;
    right: 10vh;
    top: 15vh;
    height: 30vh;
}

.translationHistory {
    position: absolute;
    top: 30vh;
    left: 10%;
    height: 60vh;
    width: 80%;
    background-color: white;
    box-shadow: lightgray;
    border-radius: 20px;
    border-style: solid;
    border-color: #cb997e;
}

.searchHistory {
    font-size: larger;
    text-align: left;
}