.upperDiv {
    background-color: #FFE8D6;
    height: 30vh;
    margin: 0px;
}

.lowerDiv {
    background-color: #A5A58D;
    height: 60vh;
    margin: 0px;
}

.translateInput {
    position: absolute;
    top: 18vh;
    right: 10%;
    height: 14vh;
    width: 80%;
    border-radius: 100px;
    background-color: lightgray;
    font-size: larger;
    text-align: center;
}

.translateInputButton {
    position: absolute;
    top: 19vh;
    right: 11%;
    height: 13vh;
    width: 13vh;
    border-radius: 100%;
    background-color: mediumpurple;
    font-size: xxx-large;
    text-decoration: none;
}

.translateBox {
    position: relative;
    top: 5vh;
    left: 10%;
    height: 40vh;
    width: 80%;
    background-color: white;
    box-shadow: lightgray;
    border-radius: 20px;
    border-style: solid;
    border-color: #cb997e;
}